@page
@model asp_presentacion.Pages.Ventanas.ArancelesModel
@{
    ViewData["Titulo"] = "Aranceles";
}
<center>
    <div>
        <form method="POST"
            enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div align="left">
                <h3>Aranceles</h3> <!--Comentario-->
            </div>
            <div align="left"
                 class="bt_panel_buttons">
                <input type="submit"
                       value="Refrescar"
                       asp-page-handler="BtRefrescar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Nuevo"
                       asp-page-handler="BtNuevo"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Guardar"
                       asp-page-handler="BtGuardar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Cancelar"
                       asp-page-handler="BtCancelar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
            </div>

            @if (Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
                 Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden"
                    asp-for="@Model.Actual!.Id" />
            }
            <!--Informacio que aparece para borrar-->
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden"
                   asp-for="@Model.Actual!.Cod" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Id_Orden" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Id_TipoDeArancel" />
                <input type="hidden"
                       asp-for="@Model.Actual!.PorcentajeDelArancel" />
                
            }
            <!--Aqui se edita-->
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Editar)
            {
                <div class="containers_vn panel panel-default">
                    <h3>Aranceles</h3>

                    <div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Codigo
                            </label>
                            <div class="col-lg-6">
                                <input id="nmCod"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Actual!.Cod" />
                            </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Orden
                            </label>
                            <div class="col-lg-6">
                                <select id="nmOrdenes"
                                        class="form-control"
                                        asp-for="@Model.Actual!.Id_Orden"
                                        asp-items="@(new SelectList(Model.ListaOrdenes,"Id","Cod"))"> <!--Tiene un comportamiento curioso, el segundo es el que se presenta y toma el primero como valor-->
                                </select> <!--El input no soporta asp_items-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                TipoDeArancel
                            </label>
                            <div class="col-lg-6">
                                <select id="nmTiposDeAranceles"
                                        class="form-control"
                                        asp-for="@Model.Actual!.Id_TipoDeArancel"
                                        asp-items="@(new SelectList(Model.ListaTiposDeAranceles,"Id","Nombre"))">
                                    <!--Tiene un comportamiento curioso, el segundo es el que se presenta y toma el primero como valor-->
                                </select> <!--El input no soporta asp_items-->
                            </div>
                        </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                PorcentajeDeArancel
                            </label>
                            <div class="col-lg-6">
                                <input id="nmPorcentajeDeArancel"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.PorcentajeDelArancel" />
                            </div>
                        </div>
                    
                    </div>
                </div>
            }

            @if (ViewData.ContainsKey("Mensaje"))
            {
                <input type="hidden"
                   asp-for="@Model.Accion" />
                    @await Html.PartialAsync("../Emergentes/Mensajes.cshtml");
            }
            <!--Mensaje para confirmar borrado-->
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <div class='popup'>
                    <div class='pp_del_inner'>
                        <div style='width:95%'>
                            <h2 align="left">
                                Mensaje
                            </h2>

                            <h4 align="left">
                                Desea borrar la entidad?
                            </h4>
                            <h6 align="left">
                                @Model.Actual!.Cod <!--Se borra la entidad-->
                            </h6>
                            <br />
                            <br />
                            <input type="submit"
                               value="Borrar"
                               asp-page-handler="BtBorrar"
                               class="btn btn-secondary" />
                            <input type="submit"
                               value="Cerrar"
                               asp-page-handler="BtCancelar"
                               class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            }
            <!--La tabla del inicio-->
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
                 Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar) 
            {
                <input id="flCod"
                   class="cts_forms form-control"
                   asp-for="@Model.Filtro!.Cod"
                   placeholder="Codigo" />
                <br />
                <!--Columnas-->
                <div class="containers_vn panel panel-default">
                    <table class="tb_data table table-striped table-bordered table-hover">
                        <tr>
                            <th>
                                Codigo
                            </th>
                            <th>
                                Orden
                            </th>
                            <th>
                                TipoDeArancel
                            </th>
                            <th>
                                PorcentajeDeArancel
                            </th>
                            <th>
                                Accion
                            </th>
                        </tr>
                        @if (Model != null && Model.Lista != null)
                        {
                            @foreach (var elemento in Model.Lista)
                            {
                                <tr>
                                    <td>
                                        @elemento.Cod
                                    </td>
                                    <td>
                                        @Model.ListaOrdenes!.FirstOrDefault(p => p.Id == elemento.Id_Orden)?.Cod <!--Se muestra el nombre del pais-->
                                    </td>
                                    <td>
                                        @Model.ListaTiposDeAranceles!.FirstOrDefault(p => p.Id == elemento.Id_TipoDeArancel)?.Nombre <!--Se muestra el nombre del pais-->
                                    </td>
                                    <td>
                                        @elemento.PorcentajeDelArancel
                                    </td>
                                    <td>
                                        <input type="submit"
                                           value="Modicar"
                                           asp-page-handler="BtModificar"
                                           class="btn btn-secondary"
                                           asp-route-data="@elemento.Id" />
                                        <input type="submit"
                                           value="Borrar"
                                           asp-page-handler="BtBorrarVal"
                                           class="btn btn-secondary"
                                           asp-route-data="@elemento.Id" />
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            }
        </form>
    </div>
</center>