@page
@model asp_presentacion.Pages.Ventanas.ProductosModel
@{
    ViewData["Titulo"] = "Productos";
}
<center>
    <div>
        <form method="POST"
        enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div align="left">
                <h3>Productos</h3> <!--Comentario-->
            </div>
            <div align="left"
            class="bt_panel_buttons">
                <input type="submit"
                value="Refrescar"
                asp-page-handler="BtRefrescar"
                class="btn btn-secondary"
                disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                @if (IndexModel.RolGlobal == "1")
                {
                    <input type="submit"
                    value="Nuevo"
                    asp-page-handler="BtNuevo"
                    class="btn btn-secondary"
                    disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                    <input type="submit"
                    value="Guardar"
                    asp-page-handler="BtGuardar"
                    class="btn btn-secondary"
                    disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />}
                <input type="submit"
                value="Cancelar"
                asp-page-handler="BtCancelar"
                class="btn btn-secondary"
                disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
            </div>

            @if (Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
               Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden"
                asp-for="@Model.Actual!.Id" />
            }
            <!--Informacio que aparece para borrar-->
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden"
                asp-for="@Model.Actual!.Nombre" />
                <input type="hidden"
                asp-for="@Model.Actual!.PrecioUnitario" />
                <input type="hidden"
                asp-for="@Model.Actual!.Id_Empresa" />
                <input type="hidden"
                asp-for="@Model.Actual!.Id_TipoProducto" />
            }
            <!--Aqui se edita-->
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Editar)
            {
                <div class="containers_vn panel panel-default">
                    <h3>Productos</h3>

                    <div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Nombre
                            </label>
                            <div class="col-lg-6">
                                <input id="nmNombre"
                                class="cts_forms form-control"
                                asp-for="@Model.Actual!.Nombre" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Precio
                            </label>
                            <div class="col-lg-6">
                                <input id="nmPrecioUnitario"
                                class="cts_forms form-control"
                                asp-for="@Model.Actual!.PrecioUnitario" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                EmpresaProductora
                            </label>
                            <div class="col-lg-6">
                                <select id="nmEmpresa"
                                class="form-control"
                                asp-for="@Model.Actual!.Id_Empresa"
                                asp-items="@(new SelectList(Model.ListaEmpresas,"Id","Nombre"))"> <!--Tiene un comportamiento curioso, el segundo es el que se presenta y toma el primero como valor-->
                                </select> <!--El input no soporta asp_items-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                TipoProducto
                            </label>
                            <div class="col-lg-6">
                                <select id="nmTipoProducto"
                                class="form-control"
                                asp-for="@Model.Actual!.Id_TipoProducto"
                                asp-items="@(new SelectList(Model.ListaTiposDeProductos,"Id","Nombre"))">
                                    <!--Tiene un comportamiento curioso, el segundo es el que se presenta y toma el primero como valor-->
                                </select> <!--El input no soporta asp_items-->
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if (ViewData.ContainsKey("Mensaje"))
            {
                <input type="hidden"
                asp-for="@Model.Accion" />
                @await Html.PartialAsync("../Emergentes/Mensajes.cshtml");
            }
            <!--Mensaje para confirmar borrado-->
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <div class='popup'>
                    <div class='pp_del_inner'>
                        <div style='width:95%'>
                            <h2 align="left">
                                Mensaje
                            </h2>

                            <h4 align="left">
                                Desea borrar la entidad?
                            </h4>
                            <h6 align="left">
                                @Model.Actual!.Nombre <!--Se borra la entidad-->
                            </h6>
                            <br />
                            <br />
                            <input type="submit"
                            value="Borrar"
                            asp-page-handler="BtBorrar"
                            class="btn btn-secondary" />
                            <input type="submit"
                            value="Cerrar"
                            asp-page-handler="BtCancelar"
                            class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            }
            <!--La tabla del inicio-->
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
               Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar) 
            {
                <input id="flNombre"
                class="cts_forms form-control"
                asp-for="@Model.Filtro!.Nombre"
                placeholder="Nombre" />
                <br />
                <!--Columnas-->
                <div class="containers_vn panel panel-default">
                    <table class="tb_data table table-striped table-bordered table-hover">
                        <tr>
                            <th>
                                Nombre
                            </th>
                            <th>
                                PrecioUnitario
                            </th>
                            <th>
                                EmpresaProductora
                            </th>
                            <th>
                                TipoProducto
                            </th>
                            <th>
                                Accion
                            </th>
                        </tr>
                        @if (Model != null && Model.Lista != null)
                        {
                            @foreach (var elemento in Model.Lista)
                            {
                                <tr>
                                    <td>
                                        @elemento.Nombre
                                    </td>
                                    <td>
                                        @elemento.PrecioUnitario
                                    </td>
                                    <td>
                                        @Model.ListaEmpresas!.FirstOrDefault(p => p.Id == elemento.Id_Empresa)?.Nombre <!--Se muestra el nombre del pais-->
                                    </td>
                                    <td>
                                        @Model.ListaTiposDeProductos!.FirstOrDefault(p => p.Id == elemento.Id_TipoProducto)?.Nombre <!--Se muestra el nombre del pais-->
                                    </td>
                                    @if (IndexModel.RolGlobal == "1")
                                    {
                                        <td>
                                            <input type="submit"
                                            value="Modicar"
                                            asp-page-handler="BtModificar"
                                            class="btn btn-secondary"
                                            asp-route-data="@elemento.Id" />
                                            <input type="submit"
                                            value="Borrar"
                                            asp-page-handler="BtBorrarVal"
                                            class="btn btn-secondary"
                                            asp-route-data="@elemento.Id" />
                                        </td>
                                    }
                                    else
                                    {
                                        <th>
                                            SinAccionDisponible
                                        </th>
                                    }
                                </tr>
                            }
                        }
                    </table>
                </div>
            }
        </form>
    </div>
</center>